.hero {
    height: 100vh;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 100px;
    position: relative;
    text-align: center;
}

.hero-title .star:first-child {
    position: absolute;
    top: -20px;
    left: -40px;
  }

  .hero-title .star:last-child {
    position: absolute;
    bottom: -20px;
    right: -40px;
  }

.star {
    font-size: 48px;
    color: #ffffff;
}

.hero-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-bottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    color: #888888;
}